*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: #224e93;
}
h1, p{
    color: white;
}
form{
    padding: 4rem;
    background: mintcream;
}